<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "herpair.com"
    versionCode = "10"
    version     = "1.0.0" >
   
    <name>Herpair</name>
    <description>
      Herpair
    </description>
    <author href="http://www.vantagewebtech.com" email="vantage.krishna@gmail.com">
      Krishna Kumar
    </author>
	<!--<preference name="phonegap-version" value="cli-6.5.0" />-->
	<plugin name="cordova-plugin-device" spec="~1.1.6" />	
	<plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.7.1" />
	<plugin name="phonegap-plugin-barcodescanner" />
	<plugin name="cordova-plugin-splashscreen" />
	<preference name="orientation" value="portrait" />
	<plugin name="cordova-plugin-screen-orientation" source="npm" />
	<plugin name="cordova-plugin-dialogs" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarStyle" value="default" />	
	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-file-transfer" />
	
	
</widget>